<div class="container mt-5 mb-5"><h2>Making Use of Spinner</h2></div>
<div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Id</th>
        <th>Title</th>
        <th>Is Completed?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of emp">
        <td>{{ e.userId }}</td>
        <td>{{ e.id }}</td>
        <td>{{ e.title }}</td>
        <td>{{ e.completed }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
